:root {
  /* background-colors */

  --green: #058436;
  --green2: #0bc151;
  --white: #fff;
  --black: #000;
  --lightgrey: #ece9e9;

  /* font-weight */
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;
  --font-semiblack: 700;
  --font-black: 800;

  /* font-size */
  --font-xs: 14px;
  --font-s: 18px;
  --font-m: 24px;
  --font-l: 30px;
  --font-xl: 36px;
}

/* --------RESPONSIVE----------- */

/* Tablet */

@media (max-width: 992px) {
  /* -------------------REGISTRO--------------------- */

  .registro input {
    height: 30px;
    max-width: 400px;
    width: 90%;
    font-size: var(--font-m);
  }

  .checkbox {
    margin: auto;
  }

  /* -------------------FOOTER--------------------- */
  /* Footer */
  .footer {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  .footer__help,
  .footer__contact {
    text-align: center;
    justify-content: center;
    align-items: start;
  }
  iframe {
    display: none;
  }
  .footer__help h3 {
    font-size: var(--font-s);
    text-align: center;
  }

  .footer__redes {
    justify-content: start;
    gap: 20px;
  }
  .redes__h3 {
    display: flex;
    font-size: var(--font-s);
    margin-top: 0;
    text-align: center;
  }
  .redes__icon i {
    font-size: 30px;
  }

  .copyright {
    font-size: var(--font-xs);
    height: auto;
    gap: 10px;
  }
}

/* Mobile */

@media (max-width: 576px) {
  /* -------------------REGISTRO--------------------- */
  .registro__h1 h1 {
    font-size: var(--font-l);
  }

  .registro input {
    height: 30px;
    width: 100%;
    font-size: var(--font-m);
  }
  .checkbox {
    margin: auto;
  }

  /* -------------------FOOTER--------------------- */

  .footer {
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  .footer__help,
  .footer__contact {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  iframe {
    display: none;
  }
  .footer__help h3 {
    font-size: var(--font-s);
    text-align: center;
  }

  .footer__redes {
    justify-content: start;
    gap: 20px;
  }
  .redes__h3 {
    display: flex;
    font-size: var(--font-s);
    margin-top: 0;
    text-align: center;
  }
  .redes__icon i {
    font-size: 30px;
  }

  .copyright {
    font-size: var(--font-xs);
    height: auto;
    gap: 10px;
  }
}
