:root {
  /* background-colors */

  --green: #058436;
  --green2: #0bc151;
  --white: #fff;
  --black: #000;
  --lightgrey: #ece9e9;

  /* font-weight */
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;
  --font-semiblack: 700;
  --font-black: 800;

  /* font-size */
  --font-xs: 14px;
  --font-s: 18px;
  --font-m: 24px;
  --font-l: 30px;
  --font-xl: 36px;
}

/* ------------------RESPONSIVE----------------- */

/* --------------------TABLET------------------- */

@media (max-width: 992px) {
  /* ---Navbar---*/
  .navbar__ul {
    gap: 15px;
  }
  .navbar__ul li i {
    font-size: 35px;
  }
  /* ---Hero--- */

  .hero__info {
    width: 90%;
    text-align: center;
  }
  .hero__h1 {
    font-size: var(--font-m);
    text-align: center;
  }

  .hero__img img {
    display: none;
  }

  /* ---About--- */

  .about__h2 {
    font-size: var(--font-m);
  }

  /* ---Contact--- */

  #contact {
    padding: 20px;
    gap: 20px;
  }

  /* ---Marcas--- */

  .marcas {
    max-width: 630px;
    width: 90%;
    height: 180px;
    gap: 25px;
  }
  .marcas img {
    width: 103px;
  }
  .marcas img:nth-child(2) {
    display: none;
  }
  /* ---Footer--- */

  .footer__iframe {
    display: none;
  }

  .copyright {
    gap: 20px;
  }
}

/* --------------------MOBILE-------------------- */

@media (max-width: 576px) {
  /* ---Navbar--- */

  .navbar__ul {
    background: linear-gradient(var(--green), var(--green2)) repeat;
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    gap: 2rem;
  }

  .navbar .menu-label {
    display: block;
  }
  #menu-toggle:checked ~ .navbar__ul {
    display: flex;
  }

  /*  ---Hero--- */

  .hero__h1 h1 {
    font-size: var(--font-l);
  }
  .hero__presentation {
    font-size: var(--font-s);
  }
  .hero__links {
    font-size: var(--font-s);
    font-weight: var(--font-semibold);
    gap: 1.5rem;
  }

  /*  ---About--- */
  #about {
    margin: 20px auto;
    padding: 20px;
  }

  .about__h2 {
    font: var(--font-m);
  }
  .about__p {
    font-size: var(--font-s);
  }

  /* ---Productos destacados--- */

  .productos-destacados__title h2 {
    font-size: var(--font-l);
    width: 95%;
    margin: 20px auto;
  }
  /* ---Benefit--- */
  .benefit {
    gap: 20px;
    padding: 20px;
  }

  /* ---Contacto--- */

  #contact {
    padding: 20px;
    gap: 20px;
  }

  .suscribe,
  .contact {
    min-width: 280px;
  }
  .suscribe__input input {
    width: 225px;
  }

  /* ---Marcas--- */
  #marcas {
    display: none;
  }

  /* ---Footer--- */
  .footer {
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  .footer__help {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .footer__help h3 {
    font-size: var(--font-s);
    text-align: center;
  }

  .footer__redes {
    justify-content: start;
    gap: 20px;
  }
  .redes__h3 {
    display: flex;
    font-size: var(--font-s);
    margin-top: 0;
  }
  .redes__icon i {
    font-size: 30px;
  }
  .whatsapp-icon {
    position: none;
  }
  .whatsapp-icon:after {
    display: none;
  }
  .copyright {
    font-size: var(--font-xs);
    height: auto;
  }
}
